:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;

  color: #111827;
  background: #f6f7fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  /* 关键：别用 flex 居中！否则地图容器高度很容易算崩 */
  display: block;
  min-width: 320px;
}
